.pageNumbers {
    list-style:none;
    display:flex;
}

.pageNumbers li{

    padding:10px;
    border:1px solid rgb(233, 140, 9);
    cursor:pointer;
}

.pageNumbers li.active {
   background-color: rgb(233, 140, 9);
   color:white;
}

div.pagination-container {
    display: flex;
    justify-content: center;
}

.pageNumbers li button {
    background-color: transparent;
    border: none;
    color: black;
    font-size: 1rem;
    cursor: pointer;
}

.pageNumbers li button:hover {
    background-color: rgb(233, 140, 9);
    color:black;
}

.pageNumbers li button:focus{
    outline: none;
}

.loadmore {
    display: flex;
    padding: 1rem;
    background-color:rgb(233, 140, 9);

    color: black;
    font-size: 1rem;
    border: 1px solid;
    cursor: pointer;
}